<% @blogs.each do |blog| %>

  <% if admin_signed_in? %>
    <a class="label label-danger" href="<%= edit_blog_path(blog) %>">Edit</a>
    <%= link_to "Destroy", blog, method: :delete, class: "label label-danger", data: { confirm: 'Are you sure' } %>
    <% unless blog.published? %>
      <a class="label label-danger">NOT PUBLISHED</a>
    <% end %>
  <% end  %>
  <div class="blog-post">

    <a href="<%= blog_path(blog) %>">

     <h2 class="blog-post-title"><%= blog.title %></h2>
      <p class="blog-post-meta"><%= date_format(blog) %></p>
      <p class="blog-post-story"><%= markdown truncate(blog.content, length: 100) %></p>
    </a>
    <% blog.keywords.each do |keyword| %>
      <a href="<%= search_blogs_path(keyword: keyword) %>" class="label label-success"><%= keyword %></a>
    <% end %>

  </div><!-- /.blog-post -->
<% end %>

<%= will_paginate @blogs %>
