
<img class="summary-image img-square img-responsive"
     alt="Bootstrap template"
     src="http://placehold.it/300x300"/>

<h1><%= @blog.title %></h1>

<p><%= markdown @blog.content %></p>

<div id="comments">
  <%= render @comments %>
</div>

<div class="well well-sm">
  <%= form_for([@blog, @comment], html: { class: "form-horizontal" }, remote: true) do |f| %>
    <fieldset>
      <legend class="text-center header">Comment</legend>

      <div class="form-group">
        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
        <div class="col-md-8">
          <%= f.text_field :name, placeholder: "Name*", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
        <div class="col-md-8">
          <%= f.text_field :email, placeholder: "Email (Only seen by me)", class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
        <div class="col-md-8">
          <%= f.text_area :text, placeholder: "Comment*", class: "form-control", rows: 5 %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 text-center">
          <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
