<%= div_for(comment) do %>

  <div class="qa-message-list" id="wallmessages">
    <div class="message-item" id="m16">
      <div class="message-inner">
        <div class="message-head clearfix">
          <div class="avatar pull-left"><a> <%= gravatar_for(comment) %></a></div>
          <div class="user-detail">
            <h5 class="handle"><%= comment.name %></h5>
            <div class="post-meta">
              <div class="asker-meta">
                <span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data"><%= date_format comment %></span>
											</span>
              </div>
            </div>
          </div>
        </div>
        <div class="qa-message-content">
          <%= comment.text %>
        </div>
      </div>
    </div>
  </div>


<% end %>

