<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item title-mahal" href="<%= root_path %>">AJ Mahal</a>

      <a class="blog-nav-item <%= 'active' if current_page?(contact_path) %>" href="<%= contact_path %>">Contact</a>
      <a class="blog-nav-item <%= 'active' if current_page?(about_path) %>" href="<%= about_path %>">About</a>
      <a class="blog-nav-item <%= 'active' if current_page?(root_path) || current_page?(search_blogs_path)%>" href="<%= root_path %>">Home</a>
      <% if admin_signed_in? %>
        <a class="blog-nav-item" href="<%= destroy_admin_session_path %>">Logout</a>
      <% end  %>
    </nav>
  </div>
</div>
