%div.blog-masthead
  %div.container
    %nav.blog-nav
      %a.blog-nav-item.title-mahal{ href: "#{root_path}" } AJ Mahal
      %a.blog-nav-item{ class: ("active" if current_page?(contact_path)),  href: "#{ contact_path }" }Contact
      %a.blog-nav-item{ class: ('active' if current_page?(about_path)) , href:"#{ about_path }"}About
      %a.blog-nav-item{ class: ('active' if current_page?(root_path) || current_page?(search_blogs_path)), href:"#{root_path}"}Home
      - if admin_signed_in?
        %a.blog-nav-item{ href:"#{ destroy_admin_session_path }" }Logout