<!DOCTYPE html>
<html>
<head>
  <title>The AJ mahal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>


  <div class="blog-header">
    <h1 class="blog-title">Welcome to the 'AJ' mahal</h1>
    <p class="lead blog-description">A.J's official blog</p>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <%= yield %>
    </div><!-- /.blog-main -->

    <%= render 'layouts/sidebar' %>

  </div><!-- /.row -->

</div><!-- /.container -->

<%= debug(params) if Rails.env.development? %>

<%= render 'layouts/footer' %>
</body>
</html>
