<!DOCTYPE html>
<html>
<head>
  <title>BootstrapBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>



<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

<%= yield %>

</div><!-- /.blog-main -->

<%= render 'layouts/sidebar' %>

</div><!-- /.row -->

</div><!-- /.container -->


<%= render 'layouts/footer' %>
</body>
</html>
